.card {
    min-width: 300px;
    width: calc(100% / 4.13);
    padding: 1%;
    margin: 10px 1% 1% 0px;
    margin-right: max(10px,1%);
    color: white;
    /* card border */
    --border-width: 3px;
    background: rgb(0, 0, 0);
    border-radius: var(--border-width);
}

/* Animacion card border */

.card::after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    /* background: linear-gradient(60deg, #5f86f2, #a65ff2, #f25fd0, #f25f61, #f2cb5f, #abf25f, #5ff281, #5ff2f0); */
    background: linear-gradient(60deg, #0044ff, #ff0000);
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: calc(2 * var(--border-width));
    animation: moveGradient 2s alternate infinite;
}
@keyframes moveGradient {
    50% {
        background-position: 100% 50%;
        
   }
}

.img-character,
.img-planet {
    object-fit: contain;
    object-position: center;
    height: 250px;

}

.btn-learn-more, .btn-go{
    background-color: #FFE500;
    color: black;
}